######### BOT ##########
REG_BOT-TOKEN=1234567890:ABC1D2Efgh34iJKlMnO567Qr89StuVWXY0Z

OUTER_URL = http://127.0.0.1:8000/users
USER_PAGE = http://127.0.0.1:8000/user_page

########### APP ##########
RUN-HOST = 127.0.0.1
RUN-PORT = 8000

DB-NAME = test.db

COOKIE-NAME = 'user-auth'
