######### BOT ##########
REG_BOT-TOKEN=1234567890:ABC1D2Efgh34iJKlMnO567Qr89StuVWXY0Z

PROXY = http://127.0.0.1:3120
USER_REGISTER = http://localhost:8000/auth_and_redirect_to_user_page
CHECK_USER_EMAIL = http://localhost:8000/user_email_by_tg_id
LOGIN_USER = http://localhost:8000/api/auth/login

########### APP ##########
RUN-HOST = 127.0.0.1
RUN-PORT = 8000

DB-NAME = .test.db

JWT_STRATEGY-SECRET = S0ME_!SECRET4321

COOKIE-NAME = 'user-auth'
