<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width height=device-height, initial-scale=1" charset="UTF-8">
    <title>
        {% block title %}
        Title
        {% endblock title %}
    </title>
</head>
<link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">
<body data-bs-theme="dark" class="min-vh-100 d-flex flex-column">
    {% block header %}
    {% include 'components/header.html' %}
    {% endblock header %}

    <div class="d-flex flex-column flex-fill align-items-center justify-content-center">
        {% block body %}
        Body
        {% endblock body %}
    </div>

    {% block footer %}
    {% include 'components/footer.html' %}
    {% endblock footer %}
</body>
</html>